body{
    text-align: center;
    padding: 400;
    margin: 55px;
    line-height: 55px;
}
button{
    background-color: blue;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    border: none;
    font-size: medium;
}
input{
    border: none;
}
h1{
    text-align: center;
}
.zid{
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}
.paf{
    border-style: groove;
    padding: 40px;
    border-radius: 30px;
}
form{
    border-style: groove;
    padding: 40px;
    border-radius: 30px;
    height: 300px;
    width: 300px;
}
.P2{
    border-style: groove;
    padding: 40px;
    border-radius: 30px;
    line-height: 30px;
    text-align: center;
    height: 300px;
    width: 300px;
}
#bor{
    border-style: dotted ;
}