body{
    margin-top: 100px;
    text-align: center;
}
.ResetPassword h1{
    font-size: 30px;
    font-weight: bold;
}
.NewPassword{
    margin-bottom: 20px;
}
.ConfirmPassword{
    margin-bottom: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
button{
    height:30px;
    width: 150px;
    background-color: blue;
    border-radius: 20px;
    margin-top: 10px;
}
.form{
    border: 1px solid;
    width: fit-content;
    margin-left:700px;
    height: 250px;
    padding-right: 10px;
    padding-bottom:5px ;
    border-radius: 10px;

}
section .form{
    border: 1px solid;
    border-style: groove;
    z-index: 1;
    width: 300px;
    align-items: center;
    border-radius: 20px;
}
